{% extends "layouts/main.twig" %}

{% block content %}
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            {% if item.id %}
                                <h4 style="margin: 10px 0;">Edit {{ item.type }}</h4>
                            {% else %}
                                <h4 cstyle="margin: 10px 0;">Create new File or Directory</h4>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form method="POST" action="index.php?route=/filesystem/{{ item.id ? item.id  : 0 }}/" accept-charset="UTF-8" class="form bv-form" id="form-create">
                            {% if item.id %}
                                <input name="_method" type="hidden" value="PATCH">
                                <input type="hidden" name="id" value="{{ item.id }}">
                            {% else %}
                                <input name="_method" type="hidden" value="POST">
                            {% endif %}
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <input type="text" name="name" placeholder="Name" data-value="{{ item.name }}" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="type">Type <span class="required">*</span></label>
                                        <select name="type" data-value="{{ item.type }}" class="form-control selectpicker show-tick">
                                            <option value="Directory">Directory</option>
                                            <option value="File">File</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="parent">Parent <span class="required">*</span></label>
                                        <select name="parent" data-value="{{ item.level_id }}" class="form-control selectpicker show-tick" data-live-search="true">
                                            <option value="0-0">/</option>
                                            {% for directory in directories %}
                                                <option value="{{ directory.id }}-{{ directory.level }}">{{ directory.level_name|raw }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <input class="btn btn-primary  pull-right" type="submit" value="Save"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <h4>Upload filesystem structure from text file</h4>
                        </a>
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form method="POST" action="index.php?route=/filesystem/update/batch/" accept-charset="UTF-8" class="form bv-form" id="form-batch" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <label>File <span class="required">*</span></label>
                                        <input type="file" name="file" class="form-control-file">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="parent">Parent <span class="required">*</span></label>
                                        <select name="parent" data-value="{{ item.level_id }}" class="form-control selectpicker show-tick" data-live-search="true">
                                            <option value="0-0">/</option>
                                            {% for directory in directories %}
                                                <option value="{{ directory.id }}-{{ directory.level }}">{{ directory.level_name|raw }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <input class="btn btn-primary  pull-right" type="submit" value="Save"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="index.php?route=/filesystem/" class="btn btn-info btn-md pull-right" style="margin-right: 10px; width: 200px">Back</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('form [data-value]').each(function () {
            console.log(this);
            var ele = $(this);
            if (ele.is(':checkbox') || ele.is(':radio')) {
                if (ele.val() == ele.attr('data-value')) {
                    ele.prop('checked', true);
                } else {
                    ele.prop('checked', false);
                }
            } else {
                ele.val(ele.attr('data-value'));
            }
        });
    </script>
{% endblock %}